<?xml version='1.0' encoding='utf-8'?>
<widget id="weveko.qr.scanner" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>WevekoQRScanner</name>
    <description>
        Weveko QR Scanner
    </description>
    <author email="chris@seolab.nl" href="https://seolab.nl">
        SEOlab
    </author>
    <content src="index.html" />
    <access origin="*" />
  <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
      <string>Cameratoegang nodig om QR te scannen</string>
  </edit-config>    
</widget>
